.banner {
    position: relative;
    background-position: center;
    background: linear-gradient(45deg,rgb(34,77,190),rgb(219,28,62) );
    padding-inline: 2rem;
    min-height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 2rem;
    max-width: 100%;
}
